.pog,
.poggers,
.poogers {
    background-color: lightcoral;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#notpog {
    color: blue;
    font-size: 36px;
}

.poggers {
    font-size: 24px;
}

#kindapog {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}
