.pog,
.poggers {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}

.pog {
    background-color: black;
    color: white;
}

.poggers {
    background-color: yellow;
    color: black;
    
}